.carousel {
  height: 630px;
}

.swiper-coverflow {
  height: 500px;
}

.swiper-wrapper {
  height: 500px;
  display: flex;
  align-items: center;
}

.swiper-slide {
  display: flex;
  align-items: center;
}

div.swiper-slide.swiper-slide-visible {
  display: flex;
  align-items: center;
  height: fit-content;
}

.swiper-thumbs {
  margin-top: 30px;
}
.swiper-slide img {
  display: block;
  width: 100%;
}

.carousel {
  width: 500px;
}

.swiper-slide-thumb-active img {
  box-sizing: border-box;
  border: 2px solid orange;
  filter: opacity(0.5);
}

.swiper-slide img:hover {
  filter: opacity(0.7);
  cursor: pointer;
}
